on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    name: Build and Deploy Spring boot for beginner
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'oracle'
          java-version: 17
      - name: Build with Maven
        run: mvn clean package

      - name: Generate Swagger OpenAPI
        run: mvn springdoc:generate


      - name: Unit Tests
        run: mvn -B test --file pom.xml
      - name: Build the application
        run: |
            mvn clean
            mvn -B package --file pom.xml

      
